<div class="game-container">

    <div class="track">
        <div class="finish-line"></div>

        <div class="lane" *ngFor="let player of players; let i = index" [style.--lane-index]="i">
            <div class="runner" [style.left.%]="(player.progress / 100) * 92">
                <span class="player-label">{{ player.name }}</span>
                <img [src]="avatarMap.get(player.avatarId)?.url" />
            </div>
        </div>
    </div>

    <input #hiddenInput type="text" [value]="typedText" (keydown)="onKeydown($event)" class="hidden-input"
        autocorrect="off" spellcheck="false" />

    <div class="text-box" #textBox (click)="focusInput()" [class.error-shake]="isError">
        <div class="text-content">
            <span *ngFor="let item of formattedText" [class.correct]="item.isCorrect" [class.current]="item.isCurrent"
                [class.error]="item.isCurrent && isError">
                {{ item.char }}
            </span>
        </div>
    </div>

</div>