<footer class="footer">
  <div class="footer-content">
    <!-- Logo + descrição -->
    <div class="footer-brand">
      <div>
        <img src="/assets/logo-ok.webp" alt="Logo do site" class="logo" />
      </div>

      <div>
        <h2>Corrida das Teclas</h2>
        <p>
          Jogo multiplayer de digitação onde velocidade, precisão e animais fofos transformam cada corrida numa
          competição divertida e desafiadora.
        </p>
      </div>
    </div>

    <!-- Menu do footer -->
    <nav class="footer-nav">
      <div class="column">
        <h3>Geral</h3>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Início</a></li>
          <li><a routerLink="/rules" routerLinkActive="active">Regras</a></li>
          <li><a routerLink="/about" routerLinkActive="active">Sobre</a></li>
        </ul>
      </div>

      <!-- <div class="column">
        <h3>Legal</h3>
        <ul>
          <li><a routerLink="/terms-of-use" routerLinkActive="active">Termos de Serviço</a></li>
          <li>
            <a routerLink="/privacy-policy" routerLinkActive="active">Política de Privacidade</a>
          </li>
        </ul>
      </div> -->
    </nav>
  </div>

  <div class="footer-bottom">© {{ currentYear }} Go Platypus and Blue Fox Group</div>
</footer>